<div class="container">
<div class="css-1gn47o2">
    <div class="css-ditjlv">
        <div class="css-16mj4uy"><span class="css-i680yp">
            <a class="css-1dztinq">
                <i class="fa-solid fa-pen-to-square"></i>
            </a> 
                Edit</span><img src="https://www.nykaa.com/assets/mobile/images/my_profile/default_avatar.svg"
                alt="user" class="css-1i379v9">
            <div class="css-1cj8m5v"><strong class="css-dfld3g">Abhishek Pandey</strong>
                <div class="css-4fgbls"><span class="css-123qskn">Email:&nbsp;</span><span
                        class="css-1co9jai">abhipandey1997akpgmail.com</span><span class="css-13ce5d8">Verified</span>
                </div>
                <div class="css-4fgbls"></div>
                <div class="css-4fgbls">
                    <span class="css-123qskn">Date of Birth:&nbsp;</span>dd/mm/yyyy</div>
            </div>
        </div>
    </div>
    <div class="css-1y0fczn">
        <div class="css-1a9mp6z">
            <div class="css-1f2twwv">
                <span class="css-1swlvfq">
                    <a width="20" height="19">
                        <i class="fa-solid fa-house"></i>
                    </a>   
                </span>MY ADDRESSES</div>
            <div class="css-13a34fv">
                <a color="grey" class="css-1kbrfyy">
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>ADD NEW ADDRESS
            </div>
        </div>
        <div class="css-hxcf05">
            <div class="css-ftcyff">
                <div class="css-6ggcys">Noida</div>
                <div class="css-14tqjyf">Abhi </div>
                <div>noida sector, Noida - 201309, Uttar Pradesh</div>
                <div class="css-1tcet95">
                    <div class="css-14tqjyf"> +91- 8723468746</div>
                </div>
                <div class="css-1pv1qi0">
                    <div class="css-19h7r0e">
                        <a color="grey" class="css-1kbrfyy">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                        Edit</div>
                    <div class="css-19h7r0e">
                        <a class="css-1kbrfyy">
                            <i class="fa-regular fa-trash-can"></i>
                        </a>Remove
                    </div>
                </div>
            </div>
            <div class="css-ftcyff">
                <div class="css-6ggcys">Noida</div>
                <div class="css-14tqjyf">abhipandey </div>
                <div>noida sectoe 63, Noida - 201301, Uttar Pradesh</div>
                <div class="css-1tcet95">
                    <div class="css-14tqjyf"> +91- 6546464868</div>
                </div>
                <div class="css-1pv1qi0">
                    <div class="css-19h7r0e">
                        <a color="grey" class="css-1kbrfyy">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>Edit
                    </div>
                    <div class="css-19h7r0e">
                        <a class="css-1kbrfyy">
                            <i class="fa-regular fa-trash-can"></i>
                        </a>Remove
                    </div>
                </div>
            </div>
            <div class="css-ftcyff">
                <div class="css-6ggcys">Noida</div>
                <div class="css-14tqjyf">pandey </div>
                <div>noida sector 52, Noida - 201301, Uttar Pradesh</div>
                <div class="css-1tcet95">
                    <div class="css-14tqjyf"> +91- 7645865875</div>
                </div>
                <div class="css-1pv1qi0">
                    <div class="css-19h7r0e">
                        <a color="grey" class="css-1kbrfyy">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>Edit
                    </div>
                    <div class="css-19h7r0e">
                        <a class="css-1kbrfyy">
                            <i class="fa-regular fa-trash-can"></i>
                        </a>Remove
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    
</div>