@if(isLoaderActive) {
<div class="ring">
  <img src="../../assets/img/logo.png">
  <span></span>
</div>

<!-- -------------------------------------------------------- -->

<!-- <div class="tablet">
  <div class="medicine">
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
  </div>
  <div class="side"></div>
  <div class="side"></div>
</div> -->

}