<!-- Breadscrumb Section -->
<div class="breadcrumb-bar">
    <div class="container">
        <div class="row align-items-center text-center">
            <div class="col-md-12 col-12">
                <h2 class="breadcrumb-title">Privacy Policy</h2>
                <!-- <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.home">Home</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Pages</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Privacy Policy</li>
                    </ol>
                </nav>							 -->
            </div>
        </div>
    </div>
</div>
<!-- /Breadscrumb Section -->
         

<!-- Privacy Policy -->
<section class="section privacy-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="terms-policy">
                    <h4 data-aos="fade-down" class="heading-section">Bellaluna Privacy Policy</h4>
                    <p data-aos="fade-down">At BellaLuna (“we”, “us”, “our”), we are committed to protecting your personal information in compliance with applicable laws and regulations. This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you visit or make a purchase from bellaluna.in (the “Site”).</p>
                  
                    
                     <h4 data-aos="fade-down" class="heading-section">PERSONAL INFORMATION WE COLLECT</h4>
                    <p data-aos="fade-down">When you visit BellaLuna.in, we automatically gather certain details about your device. This may include your web browser type, IP address, time zone, and information about cookies stored on your device. We also track the specific pages or products you view on our Site, along with the websites or search terms that directed you to us. Collectively, we refer to this data as “Device Information.”</p>
<!--                    
                    <p data-aos="fade-down">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                     -->
                    <ul  data-aos="fade-down">
                        <li><span><i class="fa-solid fa-circle-check"></i></span><span class="point-head">Cookies: </span>  These are data files placed on your device, containing an anonymous unique identifier.</li>
                        <li><span><i class="fa-solid fa-circle-check"></i></span><span class="point-head">Log files:</span>  These track actions on the Site, including IP address, browser type, Internet service provider, referring/exit pages, and date/time stamps.</li>
                        <li><span><i class="fa-solid fa-circle-check"></i></span><span class="point-head">Web beacons, tags, and pixels: </span> These electronic files record information about your browsing activity on the Site.</li>
                     </ul>

                       <p data-aos="fade-down">By using BellaLuna.in, you consent to third-party services processing your IP address to determine your location for accurate currency conversion. This currency preference is stored in a session cookie within your browser to ensure a consistent shopping experience while you browse our website.</p>

                       <p class="mb-3" data-aos="fade-down">When you make or attempt to make a purchase on BellaLuna.in, we collect specific details from you to process your order. This includes your name, billing address, shipping address, payment information, email address, and phone number. We refer to this as “Order Information.”</p>
               <p class="" data-aos="fade-down">When we mention “Personal Information” in this Privacy Policy, we are referring to both Device Information and Order Information.</p>
           
               <h4 data-aos="fade-down" class="heading-section">HOW DO WE USE YOUR PERSONAL INFORMATION?</h4>
                    <p data-aos="fade-down">We use the Order Information collected to process and complete purchases made through BellaLuna.in. This includes handling payments, arranging shipping, and issuing invoices and order confirmations. Additionally, we may use this information to:</p>
                   <ul  data-aos="fade-down">
                        <li><span><i class="fa-solid fa-circle-check"></i></span>Communicate with you;</li>
                        <li><span><i class="fa-solid fa-circle-check"></i></span>Screen orders for potential risk or fraud; and</li>
                        <li><span><i class="fa-solid fa-circle-check"></i></span>Provide you with information or advertising related to our products or services, in line with your preferences.</li>
                     </ul>
                      <p data-aos="fade-down">We use the Device Information we collect to help us detect potential risks or fraudulent activities, enhance and optimize the performance of BellaLuna.in, and evaluate the effectiveness of our marketing and advertising campaigns.</p>
            
            
            
                      <h4 data-aos="fade-down" class="heading-section">SHARING YOUR PERSONAL INFORMATION</h4>
                    <p data-aos="fade-down">We share your Personal Information with third parties to assist us in using it, as described above. For example, we use third-party shipping companies to deliver customer orders throughout India.</p>
            
                    <h4 data-aos="fade-down" class="heading-section">CHANGES</h4>
                    <p data-aos="fade-down">We may update this privacy policy occasionally to reflect changes in our practices or for operational, legal, or regulatory reasons.</p>
            
                    <h4 data-aos="fade-down" class="heading-section">MINORS</h4>
                    <p data-aos="fade-down">Our Site is not intended for individuals under the age of 20.</p>
            
                    <h4 data-aos="fade-down" class="heading-section">CONTACT US</h4>
                    <p data-aos="fade-down">If you have any questions, concerns, or complaints about our privacy practices, please contact us via email at support&#64;bellaluna.in.</p>
            
            
            </div>
            </div>
        </div>			
    </div>	
</section>	
<!-- /Privacy Policy -->