<footer class="footer footer-three">
    <!-- Footer Top -->
    <div class="footer-top aos" data-aos="fade-up">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-8 col-8">
                    <div class="footer-contact footer-widget">
                        <div class="footer-logo">
                             <div class="row">
                             <div class="col-lg-5 col-md-5 col-sm-8 col-8">
                                <img src="assets/img/Loche-India-Logo-PNG.png" alt="Logo" class="logo-img">
                             </div>
                             <div class="col-lg-1 col-md-1 col-sm-1 col-1 mt-4" style="margin-left: -60px;">
                                <h2 style="color: black;">X</h2>
                             </div>
                            <div class="col-lg-5 col-md-5 col-sm-8 col-8 mt-3" style="margin-left: 10px;">
                                <img src="assets/img/Kona-logo.png" alt="Logo" class="logo-img">
                            </div>
                            </div>
                           
                        </div>
                       
                        <div class="footer-contact-info">
                            <h6>{{ 'FOOTER.BUSINESS_HOURS' | translate }}</h6>
                            <h6 style="margin-left: 10%;"> 09.30 AM - 7:30 PM</h6>
                            <div class="footer-address">
                                <!-- <div class="addr-info">
                                    <a href="tel:+1(888)7601940"><i class="bx bxs-phone"></i>+91 98101 40839  / Only Whatsapp</a>
                                </div> -->
                            </div>
                            <div class="footer-address">
                                <div class="addr-info">
                                    <a href=""><i class="bx bxs-envelope"></i>hello&#64;loche.in</a>
                                </div>
                            </div>
                        </div>
                        <ul class="store-icon">
                            <li>
                                <a href="javascript:void(0);">
                                    <img src="assets/img/icons/play-icon.svg" class="img-fluid" alt="logo">
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <img src="assets/img/icons/app-icon.svg" class="img-fluid" alt="logo">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                   <div class="col-lg-2 col-md-6 col-sm-6 col-4">
                    <div class="accordion" id="siteLinksAccordion">

                        <div class="accordion-item border-0">
                            <h2 class="accordion-header">
                                <button class="accordion-button bg-light border rounded p-3 shadow-sm" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseSites">
                                    <h5 class="footer-title mb-0">{{ 'FOOTER.OTHER_SITE_LINKS' | translate }}</h5>
                                </button>
                            </h2>

                            <div id="collapseSites" class="accordion-collapse collapse show"
                                data-bs-parent="#siteLinksAccordion">

                                <div class="accordion-body p-0">

                                    <ul class="list-unstyled m-0">

                                        <li class="border-bottom py-2 px-3">
                                            <a target="_blank" href="https://www.loche.in/"
                                                class="text-dark d-block">Loche.in</a>
                                        </li>

                                        <li class="border-bottom py-2 px-3">
                                            <a target="_blank" href="https://bellaluna.in/home"
                                                class="text-dark d-block">bellaluna.in</a>
                                        </li>

                                        <li class="border-bottom py-2 px-3">
                                            <a target="_blank" href="https://myindia.co.kr/?ckattempt=1"
                                                class="text-dark d-block">myindia.co.kr</a>
                                        </li>

                                        <li class="border-bottom py-2 px-3">
                                            <a target="_blank" href="https://glossys.loche.in/home"
                                                class="text-dark d-block">glossys.loche.in</a>
                                        </li>

                                        <li class="border-bottom py-2 px-3">
                                            <a target="_blank" href="https://pdrnusa.loche.in/home"
                                                class="text-dark d-block">pdrnusa.loche.in</a>
                                        </li>

                                        <li class="border-bottom py-2 px-3">
                                            <a target="_blank" href="https://pdrnelle.loche.in/home"
                                                class="text-dark d-block">pdrnelle.loche.in</a>
                                        </li>
                                        <li class="border-bottom py-2 px-3">
                                            <a target="_blank" href="https://morningshot.loche.in/home"
                                                class="text-dark d-block">morningshot.loche.in</a>
                                        </li>
                                        <li class="border-bottom py-1 px-3">
                                            <a target="_blank" href="https://lochecosmetics.loche.in/home"
                                                class="text-dark d-block">lochecosmetics.loche.in  </a>
                                        </li>


                                    </ul>

                                </div>
                            </div>
                        </div>

                    </div>


                </div>
                <div class="col-lg-2 col-md-6 col-sm-4 col-4">
                    <!-- Footer Widget -->
                    <div class="footer-widget footer-menu">
                        <h5 class="footer-title">{{ 'FOOTER.CUSTOMER_CARE' | translate }}</h5>
                        <ul>
                            <!-- <li>
                                <a href="javascript:void(0)">{{ 'FOOTER.REWARDS' | translate }}</a>
                            </li> -->
                            <li>
                                <a href="javascript:void(0)">{{ 'FOOTER.SHIPPING' | translate }}</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">{{ 'FOOTER.TRACK_SHIPMENT' | translate }}</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">{{ 'FOOTER.TERMS_AND_CONDITIONS' | translate }}</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">{{ 'FOOTER.PRIVACY_POLICY' | translate }}</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /Footer Widget -->
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                    <!-- Footer Widget -->
                    <div class="footer-widget footer-menu">
                        <h5 class="footer-title">{{ 'FOOTER.GET_IN_TOUCH' | translate }}</h5>
                        <!-- <h6 class="footer-tital">India</h6> -->
                        <ul>
                            <h6 class="footer-tital">{{ 'FOOTER.INDIA' | translate }}</h6>
                            <span class="register">{{ 'FOOTER.REGISTERED_OFFICE' | translate }} :</span>
                            <li>
                                <a> {{ 'FOOTER.TAMIL_ADDRESS' | translate }}
                                </a>
                            </li>
                            <span class="register">{{ 'FOOTER.CORPORATE_OFFICE' | translate }} :</span>
                            <li>
                                <a> 
                                    {{ 'FOOTER.HARYANA_ADDRESS' | translate }}
                                   
                                </a>
                            </li>
                            <h6 class="footer-tital">{{ 'FOOTER.REPUBLIC_OF_KOREA' | translate }}</h6>
                            <li><span class="register">{{ 'FOOTER.CORPORATE_OFFICE' | translate }} :</span>
                                <a>
                                    {{ 'HEADER.ADDRESS' | translate }}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- /Footer Widget -->
                </div>
            </div>
        </div>
    </div>
    <!-- /Footer Top -->

    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="container">
            <!-- Copyright -->
            <div class="copyright">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="copyright-text">
                            <p>
                                {{ 'FOOTER.COPYRIGHT' | translate }}
                               
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6">

                        <div class="footer-list">
                            <ul>
                                <!-- <li class="country-flag">
                                    <div class="header-top-drpodowns">
                                        <div class="dropdown header-dropdown country-flag">
                                            <a class="dropdown-toggle nav-tog" data-bs-toggle="dropdown"
                                                href="javascript:void(0);">
                                                <img src="assets/img/flags/us.png" alt="Img">English
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-end">
                                                  <a href="javascript:void(0);" class="dropdown-item">
                                                    <img src="assets/img/flags/cn.png" alt="Img">Chinese
                                                </a>
                                                  <a href="javascript:void(0);" class="dropdown-item">
                                                    <img src="assets/img/flags/flag-koria.png" alt="Img">Korean
                                                </a>
                                                <a href="javascript:void(0);" class="dropdown-item">
                                                    <img src="assets/img/flags/jp.png" alt="Img">Japanese
                                                </a>
                                              
                                                
                                                
                                            </div>
                                        </div>
                                    </div>
                                </li> -->
                                <!-- <li class="country-flag lang-nav">
                                    <div class="dropdown">
                                        <a class="dropdown-toggle nav-tog" data-bs-toggle="dropdown" href="javascript:void(0);">
                                        <i class="bx bx-globe"></i>USD
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <a href="javascript:void(0);" class="dropdown-item">
                                            <img src="assets/img/flags/fr.png" alt="Img">Euro
                                        </a>
                                        	<a href="javascript:void(0);" class="dropdown-item">
						<img src="assets/img/flags/flag-koria.png" alt="Img">Won
					</a>
                                        <a href="javascript:void(0);" class="dropdown-item">
                                            <img src="assets/img/flags/flag-04.png" alt="Img">INR
                                        </a>
                                    </div>
                                    </div>
                                </li> -->
                                <li>
                                    <!-- <ul class="social-icon">
                                        <li>
                                            <a href="javascript:void(0)"><i
                                                    class="fa-brands fa-facebook-f fa-facebook"></i></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)"><i class="fab fa-instagram"></i></a>
                                        </li>
                                       
                                        <li>
                                            <a href="javascript:void(0)"><i class="fab fa-x"></i> </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)"><i class="fab fa-linkedin"></i></a>
                                        </li>
                                    </ul> -->
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Copyright -->
        </div>
    </div>
    <!-- /Footer Bottom -->
</footer>
<!-- /Footer -->