<div class="main-wrapper">
  <!-- Breadscrumb Section -->
  <div class="breadcrumb-bar">
    <!-- <div class="container">
            <h2 class="breadcrumb-title">B2B</h2>
      </div> -->
    <nav aria-label="breadcrumb" class="page-breadcrumb">
      <div class="container">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a [routerLink]="routes.home">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="javascript:void(0);">Pages</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            B2B
          </li>
        </ol>
      </div>
    </nav>
  </div>
  <section class="contact-section">
    <div class="container">
      <div class="section-title text-center">
        <h2>Register Your Business with Us</h2>
        <p>Join a growing network of beauty businesses that trust us to deliver high-quality cosmetics and packaging,
          with reliable service and fair pricing.</p>
      </div>
      <div class="form-section">
       <div class="row contect-form">
        <div class=" col-lg-6">
          <div class="b2b-banner">
            <img src="assets/img/bg/b2b-banner1.png" class="img-fluid">
          </div>
        </div>
        <div class="col-md-9 col-lg-6 center-form">
          <div class="registr-sec">
            <div class="reg-aufit">
              <form action="#">
                <div class="foboxset">
                  <div class="form-height">
                    <div class="con-box">
                      <div class="card-one">
                        <div class="card-body1">
                          <div class="form-head">
                            <div class="form-head-text">
                              Sell On Bellaluna : Application form&nbsp;
                            </div>
                          </div>
                          <div class="form-info" dir="auto">This is the <b>form 1</b> of the onboarding process out of
                            the <b>4 forms</b> that you will be
                            filling in the entire process for the brand to go live on Bellaluna. If you have
                            <b>multiple brands</b>, please fill out <b>separate forms for each unique brand</b>. Follow
                            the instructions that you will receive through mails post completing this form.
                            Going forward in all the forms for a specific brand, ensure that you <b>keep email
                              ID, brand name, parent company name and GST details same across forms</b>, in case
                            of detail mismatch in the four forms the onboarding may be delayed.<br>
                          </div>
                          <div class="full-w-border"></div>
                          <div class="mail-sec">
                            <div class="mail-con">
                              <div class="card-w">
                                <div class="mail-textbox">
                                  <div class="mail-text-con">
                                    <span class="mail-text">abhipandeygmail.com</span>
                                    <a class="mail-switch">Switch account</a>
                                  </div>
                                </div>
                              </div>
                              <div class="mail-sec-two">
                                <div class="mail-sec-icon">
                                  <i class="fa-regular fa-circle-check"></i>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="full-w-border"></div>
                          <div class="worni-text" aria-hidden="true" dir="auto">* Indicates required question</div>
                        </div>
                      </div>
                    </div>
                    <div class="con-box">
                      <div class="box-text-head  email-sec">
                        <div class="box-head-text">
                          <span class="box-head-text1">Email</span>
                          <span class="box-head-mtr"> *</span>
                        </div>
                      </div>
                      <div class="d-flex align-items-center">
                        <div class="chebox-ali">
                          <label class="custom_check w-100">
                            <input type="checkbox" name="username">
                            <span class="checkmark"></span>
                          </label>
                        </div>
                        <div class="record-mail-sec">
                          <span class="record-mail-text">Record
                            <b>abhipandeygmail.com</b> as the email to be included with my response</span>
                        </div>
                      </div>

                    </div>
                    <div class="con-box">
                      <div class="box-text-head">
                        <div class="box-head-text">
                          <span class="box-head-text1"><b>Registered Company Name</b></span>
                          <span class="box-head-mtr"> *</span>
                        </div>
                      </div>
                      <div class="d-flex">
                        <div class="box-head-text2">Mention your registered company name as per GST certificate</div>
                      </div>
                      <!-- input sec -->
                      <div class="box-input-sec">
                        <div class="box-input-body">
                          <div class="">
                            <input type="text" class="box-input" placeholder="Your answer">
                          </div>
                          <div class="box-input-border"></div>
                          <div class="text-worn"></div>
                        </div>
                      </div>

                    </div>
                    <div class="con-box">
                      <div class="box-text-head">
                        <div class="box-head-text">
                          <span class="box-head-text1"><b>Name of the Applicant</b></span>
                          <span class="box-head-mtr"> *</span>
                        </div>
                      </div>
                      <div class="d-flex">
                        <div class="box-head-text2">Mention your full name</div>
                      </div>
                      <!-- input sec -->
                      <div class="box-input-sec">
                        <div class="box-input-body">
                          <div class="">
                            <input type="text" class="box-input" placeholder="Your answer">
                          </div>
                          <div class="box-input-border"></div>
                          <div class="text-worn"></div>
                        </div>
                      </div>

                    </div>
                    <div class="con-box">
                      <div class="box-text-head">
                        <div class="box-head-text">
                          <span class="box-head-text1"><b>Contact Number</b></span>
                          <span class="box-head-mtr"> *</span>
                        </div>
                      </div>
                      <div class="d-flex">
                        <div class="box-head-text2">Please mention your contact number </div>
                      </div>
                      <!-- input sec -->
                      <div class="box-input-sec">
                        <div class="box-input-body">
                          <div class="">
                            <input type="text" class="box-input" placeholder="Your answer">
                          </div>
                          <div class="box-input-border"></div>
                          <div class="text-worn"></div>
                        </div>
                      </div>
                    </div>
                    <div class="con-box">
                      <div class="box-text-head">
                        <div class="box-head-text">
                          <span class="box-head-text1"><b>Are you currently selling on Bellaluna ?</b></span>
                          <span class="box-head-mtr"> *</span>
                        </div>
                      </div>
                      <div class="d-flex">
                      </div>
                      <!-- input sec -->
                      <div class="mt-2">
                        <div>
                          <input type="radio" checked="checked" name="radio">
                          <span class="checkmark"> Yes</span>
                        </div>
                        <div>
                          <input type="radio" checked="checked" name="radio">
                          <span class="checkmark"> No</span>
                        </div>
                      </div>

                    </div>
                    <div class="con-box">
                      <div class="box-text-head">
                        <div class="box-head-text">
                          <span class="box-head-text1"><b>Country of Origin of the Products</b></span>
                          <span class="box-head-mtr"> *</span>
                        </div>
                      </div>
                      <div class="d-flex">
                        <div class="box-head-text2">Use comma "," incase of multiple country of origins.</div>
                      </div>
                      <!-- input sec -->
                      <div class="box-input-sec">
                        <div class="box-input-body">
                          <div class="">
                            <input type="text" class="box-input" placeholder="Your answer">
                          </div>
                          <div class="box-input-border"></div>
                          <div class="text-worn"></div>
                        </div>
                      </div>

                    </div>
                    <div class="con-box">
                      <div class="box-text-head">
                        <div class="box-head-text">
                          <span class="box-head-text1"><b>GST Number</b></span>
                          <span class="box-head-mtr"> *</span>
                        </div>
                      </div>
                      <div class="d-flex">
                        <div class="box-head-text2">Please mention your GST number as per the GST Certificate.</div>
                      </div>
                      <!-- input sec -->
                      <div class="box-input-sec">
                        <div class="box-input-body">
                          <div class="">
                            <input type="text" class="box-input" placeholder="Your answer">
                          </div>
                          <div class="box-input-border"></div>
                          <div class="text-worn"></div>
                        </div>
                      </div>

                    </div>
                    <div class="con-box">
                      <div class="box-text-head">
                        <div class="box-head-text">
                          <span class="box-head-text1"><b>Brand Name</b></span>
                          <span class="box-head-mtr"> *</span>
                        </div>
                      </div>
                      <div class="d-flex">
                        <div class="box-head-text2 ">Incase of <b>multiple brands</b>, kindly fill
                          <b>separate forms</b> for every brand. <b>
                            Do not mention brands separated with special
                            characters i.</b><br>
                        </div>
                      </div>
                      <!-- input sec -->
                      <div class="box-input-sec">
                        <div class="box-input-body">
                          <div class="">
                            <input type="text" class="box-input" placeholder="Your answer">
                          </div>
                          <div class="box-input-border"></div>
                          <div class="text-worn"></div>
                        </div>
                      </div>

                    </div>
                    <!-- add calender -->
                    <div class="con-box">
                      <div class="box-text-head">
                        <div class="box-head-text">
                          <span class="box-head-text1"><b>Brand Launch Date</b></span>
                          <!-- <span class="box-head-mtr"> *</span> -->
                        </div>
                      </div>
                      <div class="d-flex">
                        <div class="box-head-text2 ">If selling on Bellaluna, select the date on which previous brand
                          went
                          live.
                        </div>
                      </div>
                      <!-- input sec -->
                      <div class="box-input-sec">
                        <div class="box-input-body">
                          <div class="">
                            <input type="text" class="box-input" placeholder="aa/ mm /yy">
                          </div>
                          <div class="box-input-border"></div>
                          <div class="text-worn"></div>
                        </div>
                      </div>

                    </div>
                    <div class="con-box">
                      <div class="box-text-head">
                        <div class="box-head-text">
                          <span class="box-head-text1"><b>Product Category </b></span>
                          <span class="box-head-mtr"> *</span>
                        </div>
                      </div>
                      <div class="d-flex">
                        <div class="box-head-text2 ">Incase of multiple categories - select category of your major
                          portfolio (category with most number of SKUs)
                        </div>
                      </div>
                      <!-- input sec -->
                      <div class="box-input-sec">
                        <div class="box-input-body">
                          <div class="">
                            <input type="text" class="box-input" placeholder="Your answer">
                          </div>
                          <div class="box-input-border"></div>
                          <div class="text-worn"></div>
                        </div>
                      </div>
                    </div>
                  <div class="con-box">
                      <div class="box-text-head">
                        <div class="box-head-text">
                          <span class="box-head-text1"><b>Company Website URL(If any)</b></span>
                        </div>
                      </div>
                      <div class="d-flex">
                        <div class="box-head-text2 ">Mention <b>NA </b>If you do not have Website.
                        </div>
                      </div>
                      <div class="box-input-sec">
                        <div class="box-input-body">
                          <div class="">
                            <input type="text" class="box-input" placeholder="Your answer">
                          </div>
                          <div class="box-input-border"></div>
                          <div class="text-worn"></div>
                        </div>
                      </div>
                    </div>
                    <div class="con-box">
                      <div class="box-text-head">
                        <div class="box-head-text">
                          <span class="box-head-text1"><b>Write a Password</b><span class="box-head-mtr">*</span></span>
                        </div>
                      </div>
                      <div class="box-input-sec">
                        <div class="box-input-body">
                          <div class="">
                            <input type="password" class="box-input" placeholder="Your answer">
                          </div>
                          <div class="box-input-border"></div>
                          <div class="text-worn"></div>
                        </div>
                      </div>
                    </div>
                    <div class="con-box">
                      <div class="box-text-head">
                        <div class="box-head-text">
                          <span class="box-head-text1"><b>Re-write a Password</b><span
                              class="box-head-mtr">*</span></span>
                        </div>
                      </div>
                      <div class="box-input-sec">
                        <div class="box-input-body">
                          <div class="">
                            <input type="password" class="box-input" placeholder="Your answer">
                          </div>
                          <div class="box-input-border"></div>
                          <div class="text-worn"></div>
                        </div>
                      </div>
                    </div>  
                  <div class="mt-3">
                      <p class="textformail">A copy of your responses will be emailed to abhipandeygmail.com.</p>
                    </div>
                    <div class="d-flex agreement-sec">
                      <div class="chebox-ali">
                        <label class="custom_check w-100">
                          <input type="checkbox" name="username">
                          <span class="checkmark"></span>
                        </label>
                      </div>
                      <div class="record-mail-sec">
                        <span class="record-mail-text">I agree to comply with Bellaluna's <b>Supplier Agreement</b>
                        </span>
                      </div>
                    </div>
                    <div class="justy">
                      <a>
                        <button type="submit" class="btn btn-outline-light"> Submit</button>
                      </a>
                      <button type="button" class="btn btn-default">Clear form</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </section>