<!-- Breadscrumb Section -->
<div class="breadcrumb-bar">
    <div class="container">
        <div class="row align-items-center text-center">
            <div class="col-md-12 col-12">
                <h2 class="breadcrumb-title">Terms & Conditions</h2>
                <!-- <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.home">Home</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Pages</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Terms & Conditions</li>
                    </ol>
                </nav>							 -->
            </div>
        </div>
    </div>
</div>
<!-- /Breadscrumb Section -->

<!-- Terms & Conditions -->
<section class="privacy-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="terms-policy">
                    <p data-aos="fade-down">This website is operated by Bellaluna, organized under the laws of India.
                        Throughout the site, the terms “we”, “us”, “our”, and “Bellaluna” refer to Bellaluna. Bellaluna
                        offers this website, including all information, tools, and services available from this site to
                        you, the user, conditioned upon your acceptance of all terms, conditions, policies, and notices
                        stated here.
                        By visiting our site and/or purchasing something from us, you engage in our “Service” and agree
                        to be bound by the following terms and conditions (“Terms of Service”, “Terms”), including any
                        additional terms, conditions, and policies referenced herein and/or available via hyperlink.
                        These Terms of Service apply to all users of the site, including, without limitation, users who
                        are browsers, vendors, customers, merchants, and/or contributors of content.
                        Please read these Terms of Service carefully before accessing or using our website. By accessing
                        or using any part of the site, you agree to be bound by these Terms of Service. If you do not
                        agree to all the terms and conditions of this agreement, you may not access the website or use
                        any services. If these Terms of Service are considered an offer, acceptance is expressly limited
                        to these Terms of Service.
                        Any new features or tools added to the current store shall also be subject to the Terms of
                        Service. You can review the most current version of these Terms of Service at any time on this
                        page. We reserve the right to update, change, or replace any part of these Terms of Service by
                        posting updates and/or changes to our website. It is your responsibility to check this page
                        periodically for changes. Your continued use of or access to the website following the posting
                        of any changes constitutes acceptance of those changes.
                        Our store is hosted on Shopify Inc., which provides us with the online e-commerce platform that
                        allows us to sell our products and services to you.</p>


                    <h4 data-aos="fade-down" class="heading-section">ONLINE STORE TERMS</h4>
                    <p data-aos="fade-down">By using this website, you confirm that you are at least the legal age of
                        majority in your state or province of residence. If you are under the age of majority, you
                        confirm that you have obtained consent from your parent or legal guardian to use this site.
                        You agree not to use our products or services for any unlawful or unauthorized purpose. In using
                        our Service, you must comply with all applicable laws and regulations in your jurisdiction
                        (including, but not limited to, copyright laws).</p>

                    <h4 data-aos="fade-down" class="heading-section">GENERAL CONDITIONS</h4>
                    <p data-aos="fade-down">We reserve the right to refuse service to anyone, for any reason, at any
                        time.You acknowledge that your content (excluding credit card information) may be transmitted
                        over
                        various networks in an unencrypted form and may undergo changes to meet the technical
                        requirements of connecting networks or devices. Credit card details are always encrypted during
                        transfer over networks for your security.You agree not to reproduce, duplicate, copy, sell,
                        resell, or exploit any part of the Service,
                        use of the Service, or access to the Service including any contact information found on the
                        website without our express written consent.
                    </p>


                    <h4 data-aos="fade-down" class="heading-section">ACCURACY, COMPLETENESS, AND TIMELINESS OF
                        INFORMATION</h4>
                    <p data-aos="fade-down">At Bellaluna, we strive to ensure that the information provided on this site
                        is accurate and up to date. However, we are not responsible if any content made available here
                        is inaccurate, incomplete, or outdated. The material on this website is intended for general
                        informational purposes only and should not be relied upon as the sole basis for making decisions
                        without consulting more reliable, complete, or current sources. Any reliance on the information
                        provided is at your own risk. From time to time, this site may include certain historical
                        information. Such information is provided for reference only and may not reflect the most recent
                        developments. We reserve the
                        right to update, modify, or remove content from this site at any time, without obligation to
                        update any specific information. It is your responsibility to review and stay informed about any
                        changes to our website.</p>


                    <h4 data-aos="fade-down" class="heading-section">MODIFICATIONS TO THE SERVICE AND PRICES</h4>
                    <p class="" data-aos="fade-down">At Bellaluna, product prices may change at any time without
                        prior notice. We reserve the right to modify, update, or discontinue any part of the Service
                        (including products, features, or content) at our discretion, without obligation to notify you
                        in advance. Bellaluna shall not be held liable to you or any third party for any changes in
                        pricing,
                        modifications to the Service, suspension, or discontinuation of any part of our offerings.</p>

                    <h4 data-aos="fade-down" class="heading-section">PRODUCTS OR SERVICES (if applicable)</h4>
                    <p class="" data-aos="fade-down">Some Bellaluna products or services may be available
                        exclusively online through our website. These items may have limited stock and are eligible for
                        return or exchange only as per our Return Policy. We make every effort to present accurate
                        colors, images, and details of our products as
                        displayed in our store. However, we cannot guarantee that your device’s screen will accurately
                        reflect the true color of any product. Bellaluna reserves the right, at our sole discretion, to
                        limit the sale of our products or
                        services to specific individuals, locations, or jurisdictions. We may apply these restrictions
                        on a case-by-case basis. We also reserve the right to limit the quantities of any products or
                        services we offer, and all
                        product descriptions or pricing may change at any time without notice. Bellaluna may discontinue
                        any product at any time, and any offer made for a product or service is void where prohibited by
                        law. We do not guarantee that the quality of any product, service, information, or other
                        material you
                        purchase will meet your expectations, nor that any errors in the Service will be corrected.</p>

                    <h4 data-aos="fade-down" class="heading-section">ACCURACY OF BILLING AND ACCOUNT INFORMATION</h4>
                    <p class="" data-aos="fade-down">A Bellaluna reserves the right to refuse any order you place
                        with us. At our discretion, we may limit or cancel quantities purchased per person, per
                        household, or per order. These limitations may include orders placed under the same customer
                        account, using the same credit card, or sharing the same billing and/or shipping address. If we
                        modify or cancel an order, we will attempt to notify you using the email, billing address,
                        or phone number provided at the time of purchase. Bellaluna also reserves the right to limit or
                        prohibit orders that, in our sole judgment, appear to be placed by dealers, resellers, or
                        distributors. You agree to provide accurate, complete, and up-to-date purchase and account
                        details for all
                        transactions made at Bellaluna. This includes promptly updating your account information—such as
                        email address, payment details, and expiration dates—so we can process your transactions
                        smoothly and communicate with you as needed. For more information, please refer to our Returns
                        Policy.</p>





                    <h4 data-aos="fade-down" class="heading-section">OPTIONAL TOOLS</h4>
                    <p class="" data-aos="fade-down">Bellaluna may provide you with access to third-party tools that we
                        do not monitor, control, or influence. You acknowledge and agree that these tools are provided
                        on an “as is” and “as available” basis, without any warranties, guarantees, or endorsements of
                        any kind. Bellaluna assumes no responsibility or liability for any issues, losses, or damages
                        resulting from your use of these optional third-party tools.Your use of any optional tools
                        offered through our website is entirely at your own risk and
                        discretion. You are responsible for reviewing and agreeing to the terms and conditions set by
                        the relevant third-party provider(s) before using such tools. In the future, Bellaluna may
                        introduce new services, features, or resources (including
                        additional third-party tools) through our website. All such additions will also be governed by
                        these Terms of Service.
                    </p>

                    <h4 data-aos="fade-down" class="heading-section">THIRD-PARTY LINKS</h4>
                    <p class="" data-aos="fade-down">Some content, products, or services available through Bellaluna may
                        include materials from third parties. Our website may contain links that direct you to external
                        websites operated by third parties who are not affiliated with Bellaluna.
                        We do not review, monitor, or guarantee the accuracy, completeness, or reliability of any
                        third-party content, materials, or websites, and we assume no responsibility or liability for
                        them. This includes, but is not limited to, any materials, products, or services offered by such
                        third parties.
                        Bellaluna is not responsible for any harm, loss, or damages that may result from your purchase,
                        use, or interaction with goods, services, resources, content, or any transactions made through
                        third-party websites.
                        Before engaging in any transaction with a third party, you should carefully review their
                        policies, terms, and practices to ensure you understand and agree with them. Any complaints,
                        claims, concerns, or questions regarding products or services from third parties should be
                        directed to the respective provider.</p>

                    <h4 data-aos="fade-down" class="heading-section">USER COMMENTS, FEEDBACK, AND OTHER SUBMISSIONS
                    </h4>
                    <p class="" data-aos="fade-down"> If you submit ideas, suggestions, proposals, plans, or other
                        materials to Bellaluna—whether at our request (e.g., contest entries) or voluntarily—by email,
                        postal mail, online, or through any other method (collectively referred to as “comments”), you
                        grant us the unrestricted right to use, edit, copy, publish, translate, distribute, and display
                        those comments in any medium at any time.</p>

                    <ul data-aos="fade-down">
                        <div>You acknowledge and agree that:</div>
                        <li><span><i class="fa-solid fa-circle-check"></i></span>We are not obligated to keep your
                            comments confidential.</li>
                        <li><span><i class="fa-solid fa-circle-check"></i></span>We will not provide compensation for
                            your comments.</li>
                        <li><span><i class="fa-solid fa-circle-check"></i></span>We are not required to respond to your
                            comments.</li>

                    </ul>
                    <p class="" data-aos="fade-down">We reserve the right, but are not obligated, to monitor, edit, or
                        remove any content that we determine—in our sole discretion—to be unlawful, offensive,
                        threatening, defamatory, obscene, or otherwise objectionable, or that infringes on any party’s
                        intellectual property or these Terms of Service.

                        You agree that your comments will not violate any third party’s rights, including copyright,
                        trademark, privacy, personality, or other personal or proprietary rights. Your comments must not
                        contain unlawful, abusive, defamatory, or obscene content, nor any viruses or malware that could
                        impact our Service or related websites.

                        You may not use a false email address, impersonate another person, or mislead us or others about
                        the origin of your comments. You are solely responsible for the content and accuracy of any
                        comments you make. Bellaluna assumes no responsibility and no liability for any comments posted
                        by you or by any third party.</p>

                    <h4 data-aos="fade-down" class="heading-section"> PERSONAL INFORMATION</h4>
                    <p class="" data-aos="fade-down">Any personal information you provide through our store is
                        collected, used, and protected in accordance with our <strong>Privacy Policy</strong>. Please
                        review our Privacy Policy to understand how we handle your data. </p>

                    <h4 data-aos="fade-down" class="heading-section">ERRORS, INACCURACIES, AND OMISSIONS </h4>
                    <p class="" data-aos="fade-down"> From time to time, our website or Service may contain
                        typographical errors, inaccuracies, or missing details related to product descriptions, pricing,
                        promotions, offers, shipping charges, delivery times, or availability. We reserve the right to
                        correct such errors, update information, or cancel orders if any details in the Service or on
                        any related website are found to be inaccurate—at any time and without prior notice (including
                        after an order has been placed). We are not obligated to update, amend, or clarify any
                        information in the Service or on related websites, including pricing, except where required by
                        law. The absence of a stated update or refresh date should not be interpreted as an indication
                        that all content has been modified or is current.</p>

                    <h4 data-aos="fade-down" class="heading-section">PROHIBITED USES </h4>
                    <div>In addition to any restrictions outlined in these Terms of Service, you are not permitted to
                        use our site or its content for the following purposes:</div>
                    <p class="" data-aos="fade-down"> </p>
                    <ul data-aos="fade-down">
                        <li><span><i class="fa-solid fa-circle-check"></i></span>Engaging in any unlawful activity.</li>
                        <li><span><i class="fa-solid fa-circle-check"></i></span>Encouraging or soliciting others to
                            engage in unlawful acts.</li>
                        <li><span><i class="fa-solid fa-circle-check"></i></span>Violating any international, federal,
                            provincial, state, or local laws, regulations, or ordinances.</li>
                        <li><span><i class="fa-solid fa-circle-check"></i></span>Infringing upon or violating our
                            intellectual property rights or those of others.</li>
                        <li><span><i class="fa-solid fa-circle-check"></i></span>Harassing, abusing, insulting, harming,
                            defaming, slandering, intimidating, or discriminating against any person or group based on
                            gender, sexual orientation, religion, ethnicity, race, age, national origin, or disability.
                        </li>
                        <li><span><i class="fa-solid fa-circle-check"></i></span>Submitting false or misleading
                            information.</li>
                        <li><span><i class="fa-solid fa-circle-check"></i></span>Uploading or transmitting viruses,
                            malware, or any malicious code intended to disrupt or compromise the functionality or
                            security of the Service, any related website, other websites, or the Internet.</li>
                        <li><span><i class="fa-solid fa-circle-check"></i></span>Collecting or tracking personal
                            information of others without authorization.</li>
                        <li><span><i class="fa-solid fa-circle-check"></i></span>Engaging in activities such as
                            spamming, phishing, pharming, pretexting, crawling, or scraping.</li>
                        <li><span><i class="fa-solid fa-circle-check"></i></span>Using the site for any obscene,
                            immoral, or inappropriate purpose.</li>
                        <li><span><i class="fa-solid fa-circle-check"></i></span>Attempting to interfere with or bypass
                            the security features of the Service, related websites, other websites, or the Internet.
                        </li>
                        <div>We reserve the right to suspend or terminate your access to the Service or any related
                            website if you are found to be in violation of any of these prohibited uses.</div>

                    </ul>

                    <h4 data-aos="fade-down" class="heading-section"> DISCLAIMER OF WARRANTIES; LIMITATION OF LIABILITY
                    </h4>
                    <p class="" data-aos="fade-down"> Bellaluna does not guarantee, represent, or warrant that your use
                        of our Service will be uninterrupted, timely, secure, or error-free. We also do not warrant that
                        any results obtained from using the Service will be accurate or reliable.

                        From time to time, we may suspend, limit, or discontinue the Service for an indefinite period or
                        cancel it entirely without prior notice. You acknowledge and agree that your use of the Service,
                        or inability to use it, is entirely at your own risk.

                        Unless expressly stated otherwise by Bellaluna, the Service and all products or services
                        provided through it are offered “as is” and “as available,” without any warranties,
                        representations, or conditions of any kind—either express or implied—including, but not limited
                        to, implied warranties of merchantability, fitness for a particular purpose, durability, title,
                        or non-infringement.

                        In no event shall Bellaluna, its directors, officers, employees, affiliates, agents,
                        contractors, interns, suppliers, service providers, or licensors be liable for any injury, loss,
                        claim, or any direct, indirect, incidental, punitive, special, or consequential damages of any
                        kind. This includes, without limitation, lost profits, lost revenue, lost savings, loss of data,
                        replacement costs, or similar damages, whether arising from contract, tort (including
                        negligence), strict liability, or otherwise, and whether related to your use of the Service or
                        any products purchased through it. This also applies to any claim involving errors, omissions,
                        or losses resulting from the use of the Service or any content or product provided through it,
                        even if we have been advised of the possibility of such damages.

                        Where certain states or jurisdictions do not allow the exclusion or limitation of liability for
                        incidental or consequential damages, Bellaluna’s liability will be limited to the maximum extent
                        permitted by law.

                    </p>

                    <h4 data-aos="fade-down" class="heading-section"> INDEMNIFICATION</h4>
                    <p class="" data-aos="fade-down"> You agree to indemnify, defend, and hold harmless Bellaluna, along with our parent company, subsidiaries, affiliates, partners, officers, directors, agents, contractors, licensors, service providers, subcontractors, suppliers, interns, and employees, from and against any claim, demand, liability, loss, damage, or expense (including reasonable attorneys’ fees) made by any third party arising from or related to your breach of these Terms of Service, any documents they reference, your violation of any applicable law, or your infringement of the rights of a third party.</p>

                    <h4 data-aos="fade-down" class="heading-section">SEVERABILITY </h4>
                    <p class="" data-aos="fade-down"> If any provision of these Terms of Service is found to be unlawful, void, or unenforceable, that provision will still be enforceable to the maximum extent allowed by law. The unenforceable portion will be considered severed from these Terms of Service, and this determination will not affect the validity or enforceability of the remaining provisions.</p>
 
 <h4 data-aos="fade-down" class="heading-section"> TERMINATION</h4>
                    <p class="" data-aos="fade-down"> All obligations and liabilities incurred by either party before the termination date will continue to apply after this agreement ends. These Terms of Service will remain in effect until terminated by either you or Bellaluna. You may terminate these Terms of Service at any time by notifying us that you no longer wish to use our Services, or by discontinuing use of our site. If, in our sole judgment, you fail or we suspect that you have failed to comply with any provision of these Terms of Service, we may terminate this agreement at any time without notice. In such cases, you will remain responsible for any amounts owed up to and including the date of termination, and we may also deny you access to our Services (or any part of them).</p>


                    <h4 data-aos="fade-down" class="heading-section"> ENTIRE AGREEMENT</h4>
                    <p class="" data-aos="fade-down">The failure of Bellaluna to exercise or enforce any right or provision of these Terms of Service shall not be considered a waiver of such right or provision. These Terms of Service, along with any policies or operating rules posted by us on this site or in relation to the Service, constitute the entire agreement and understanding between you and Bellaluna. They govern your use of the Service and replace any prior or contemporaneous agreements, communications, or proposals—whether oral or written—between you and us (including any previous versions of the Terms of Service). Any ambiguities in interpreting these Terms of Service shall not be construed against the party responsible for drafting them.

 </p>

                     <h4 data-aos="fade-down" class="heading-section"> GOVERNING LAW</h4>
                    <p class="" data-aos="fade-down">These Terms of Service and any separate agreements under which Bellaluna provides you with Services shall be governed by and interpreted in accordance with the laws of the United Arab Emirates. </p>

                     <h4 data-aos="fade-down" class="heading-section"> CHANGES TO TERMS OF SERVICE</h4>
                    <p class="" data-aos="fade-down"> You can review the most recent version of these Terms of Service at any time on this page. Bellaluna reserves the right, at its sole discretion, to update, modify, or replace any part of these Terms of Service by posting updates and changes on our website. It is your responsibility to check our website periodically for any revisions. Your continued use of or access to our website or Services after any changes are posted constitutes your acceptance of those changes.

</p>

                     <h4 data-aos="fade-down" class="heading-section"> CONTACT INFORMATION</h4>
                    <p class="" data-aos="fade-down"> If you have any questions about these Terms of Service, please contact us at hello&#64;bellaluna.in

</p>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Terms & Conditions -->