<div class="main-wrapper">
  <!-- Breadscrumb Section -->
  <div class="breadcrumb-bar">
    <!-- <div class="container">
          <h2 class="breadcrumb-title">About us</h2>
    </div> -->
    <nav aria-label="breadcrumb" class="page-breadcrumb">
      <div class="container">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a [routerLink]="routes.home">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="javascript:void(0);">Pages</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            About us
          </li>
        </ol>
      </div>
    </nav>
  </div>
  <!-- /Breadscrumb Section -->
  <div class="container-fluid">
  
  <!-- About -->
  <section class="section about-sec">
    <div class="container">
      <div class="row align-items-center" data-aos="fade-down">
        <div class="col-lg-6">
          <div class="about-img">
            <div class="about-exp">
              <span>1+ years of experiences</span>
            </div>
            <div class="abt-img">
              <!-- <img src="assets/img/about-us.png" class="img-fluid" alt="About us" /> -->
              <img src="assets/img/About-us-set-size-1164-1011.webp" class="img-fluid" alt="About us" />
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="about-content">
            <h6>About Our Company</h6>
            <h2>Welcome to Bellaluna your trusted home for authentic Korean beauty in India.</h2>
            <p>
              At Bellaluna, we believe beauty is a blend of tradition and innovation. That’s why we bring 
              together the best of Korean skincare science and India’s rich herbal wisdom.
              We carefully select and develop products that not only make you look good but also take care 
              of your skin from within.
            </p>
            <p>
              Every product you find here is 100% genuine, sourced directly from brands or their authorized 
              distributors. No shortcuts, no fakes just real products you can trust.
            </p>
            <p>
              We are proud of being able to bridge the gap between the Indian customer and Global skincare 
              market by providing 100% authentic skincare and beauty products. All our products are directly 
              sourced from the brands or the authorized distributors.
              At Bellaluna, our goal is simple: to help you feel confident, beautiful, and cared for every single day.
            </p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="about-content">
            <h6>OUR STORY</h6>
            <p>At Bellaluna, we’re proud to be India’s biggest and most trusted K-Beauty store. We bring you a handpicked 
              collection of over 1,500 products from 150 top Korean brands, along with our own 3 in-house brands, created
              with love and care. More than just products, we’re here to share the heart of Korean skincare a philosophy 
              that’s all about embracing your skin’s natural beauty and keeping it healthy from within.
              </p>
              <h6>Our Mission</h6>
              <p>We aim to deliver the best Korean skincare routine tailored to your unique skin type and 
                concerns, guided by our team of Korean skincare experts. Whether you are dealing with dryness,
                acne, or aging, we have the perfect solution for you.
              </p>
              <h6>What We Offer</h6>
              <ul>
                <li>Authenticity – Sourcing the finest ingredients from India and Korea to ensure purity and effectiveness.</li>
                <li>Innovation – Blending traditional remedies with modern skincare technology.</li>
                <li>Sustainability – Ethical sourcing and eco-friendly packaging to reduce our environmental footprint.</li>
              </ul>
        </div>
      </div>
      </div>
    </div>
  </section>
  <!-- /About -->

  <!-- services -->
  <section class="section services bg-light-primary">
    <div class="service-right">
      <img src="assets/img/bg/service-right.svg" class="img-fluid" alt="services right" />
    </div>
    <div class="container">
      <!-- Heading title-->
      <div class="section-heading" data-aos="fade-down">
        <h2>Why choose Us?</h2>
        <p>
          Beauty Barn is a trusted companion on your path towards a healthier, more radiant skin.
        </p>
      </div>
      <!-- /Heading title -->
      <div class="services-work">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-12" data-aos="fade-down">
            <div class="services-group">
              <div class="services-icon border-secondary">
                <img class="icon-img bg-secondary" src="assets/img/icons/fast-delivery.png" alt="Choose Locations" />
              </div>
              <div class="services-content">
                <h6>Free & Safe Shipping</h6>
                <p>
                  Free shipping on all over India.Your skincare and beauty 
                  essentials should arrive in perfect condition,
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-12" data-aos="fade-down">
            <div class="services-group">
              <div class="services-icon border-warning">
                <img class="icon-img bg-warning" src="assets/img/icons/product-chain.png" alt="Choose Locations" />
              </div>
              <div class="services-content">
                <h6>Secure & 100% money-back</h6>
                <p>
                  We ensure safe and secure packaging. 
                  If you're not completely satisfied, we offer a 100% money-back guarantee
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-12" data-aos="fade-down">
            <div class="services-group">
              <div class="services-icon border-dark">
                <img class="icon-img bg-dark" src="assets/img/icons/customer-care.png" alt="Choose Locations" />
              </div>
              <div class="services-content">
                <h6>Online Support 24/7</h6>
                <p>
                  Online Support 24/7 – Our team is available anytime to assist you with queries and concerns
                  <!-- Our 24/7 online support ensures assistance anytime you need it.
                   We're here to help with orders, queries, and skincare advice -->
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /services -->

  <!-- Facts By The Numbers -->
  <section class="section facts-number">
    <!-- <div class="facts-left">
      <img src="assets/img/bg/facts-left.png" class="img-fluid" alt="facts left" />
    </div> -->
    <div class="facts-right">
      <img src="assets/img/bg/facts-right.png" class="img-fluid" alt="facts right" />
    </div>
    <div class="container">
      <!-- Heading title-->
      <div class="section-heading" data-aos="fade-down">
        <h2 class="title text-white">Facts By The Numbers</h2>
        <!-- <p class="description text-white">
          Lorem Ipsum has been the industry's standard dummy text ever since the
          1500s,
        </p> -->
      </div>
      <!-- /Heading title -->
      <div class="counter-group">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6 d-flex" data-aos="fade-down">
            <div class="count-group flex-fill">
              <div class="customer-count d-flex align-items-center">
                <div class="count-img">
                  <img src="assets/img/icons/bx-heart.svg" alt="" />
                </div>
                <div class="count-content">
                  <h4>
                    <span class="counter-up" [countUp]="16" [options]="{ duration: 10 }">16</span>K+
                  </h4>

                  <p>Happy Customers</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 d-flex" data-aos="fade-down">
            <div class="count-group flex-fill">
              <div class="customer-count d-flex align-items-center">
                <div class="count-img">
                  <img src="assets/img/icons/customer-care.png" alt="" />
                </div>
                <div class="count-content">
                  <h4>
                    <span class="counter-up" [countUp]="50" [options]="{ duration: 10 }">50</span>+
                  </h4>
                  <p>TEAM MEMBERS</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 d-flex" data-aos="fade-down">
            <div class="count-group flex-fill">
              <div class="customer-count d-flex align-items-center">
                <div class="count-img">
                  <img src="assets/img/icons/bx-headphone.svg" alt="" />
                </div>
                <div class="count-content">
                  <h4>
                    <span class="counter-up" [countUp]="24" [options]="{ duration: 10 }">24</span>HR
                  </h4>
                  <p>SUPPORT AVAILABLE</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 d-flex" data-aos="fade-down">
            <div class="count-group flex-fill">
              <div class="customer-count d-flex align-items-center">
                <div class="count-img">
                  <img src="assets/img/icons/bx-history.svg" alt="" />
                </div>
                <div class="count-content">
                  <h4>
                    <span class="counter-up" [countUp]="200" [options]="{ duration: 10 }">200</span>K+
                  </h4>
                  <p>POSITIVE REVIEWS</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Facts By The Numbers -->

  <!-- About us Testimonials -->
  <section class="section about-testimonial testimonials-section">
    <div class="container">
      <!-- Heading title-->
      <div class="section-heading" data-aos="fade-down">
        <h2 class="title ">What People say about us?</h2>
        <p class="description ">
          Loved by Many, Trusted by All – Real Beauty, Real Reviews
        </p>
      </div>
      <!-- /Heading title -->
      <!-- Carousel Item -->
      <owl-carousel-o [options]="customOptions" class="about-testimonials testimonial-group mb-0 owl-theme">
        @for (slide of carousel; track slide) {
          <ng-template carouselSlide>
            <div class="testimonial-item d-flex">
              <div class="card flex-fill">
                <div class="card-body">
                  <div class="quotes-head"></div>
                  <div class="review-box">
                    <div class="review-profile">
                      <div class="review-img">
                        <img [src]="slide.img" class="img-fluid" alt="img" />
                      </div>
                    </div>
                    <div class="review-details">
                      <h6>{{ slide.Name }}</h6>
                      <div class="list-rating">
                        <div class="list-rating-star">
                          <i class="fas fa-star filled"></i>
                          <i class="fas fa-star filled"></i>
                          <i class="fas fa-star filled"></i>
                          <i class="fas fa-star filled"></i>
                          <i class="fas fa-star filled"></i>
                        </div>
                        <p>
                          <span>{{ slide.rating }}</span>
                        </p>
                      </div>
                    </div>
                  </div>
                  <p>
                    {{ slide.para }}
                  </p>
                </div>
              </div>
            </div>
          </ng-template>
        }
      </owl-carousel-o>

      <!-- /Carousel Item  -->
    </div>
  </section>
  <!-- About us Testimonials -->

  <!-- FAQ  -->
  <section class="section faq-section">
    <div class="container">
      <!-- Heading title-->
      <div class="section-heading" data-aos="fade-down">
        <h2>Frequently Asked Questions</h2>
        <p>
          Your Questions, Answered – Everything You Need to Know About Bellaluna!
        </p>
      </div>
      <!-- /Heading title -->
      <div class="faq-info">
        <div class="faq-card bg-white" data-aos="fade-down">
          <h4 class="faq-title">
            <a class="collapsed" data-bs-toggle="collapse" href="#faqOne" aria-expanded="false">What is Bellaluna?</a>
          </h4>
          <div id="faqOne" class="card-collapse collapse">
            <p>
              Bellaluna is a cosmetics platform that offers premium Korean and 
              Indian beauty products, blending traditional ingredients with modern skincare innovations.
            </p>
          </div>
        </div>
        <div class="faq-card bg-white" data-aos="fade-down">
          <h4 class="faq-title">
            <a class="collapsed" data-bs-toggle="collapse" href="#faqTwo" aria-expanded="false">Do you offer international shipping?</a>
          </h4>
          <div id="faqTwo" class="card-collapse collapse">
            <p>
              Yes! We provide worldwide shipping with secure packaging to ensure your products arrive safely.
            </p>
          </div>
        </div>
        <div class="faq-card bg-white" data-aos="fade-down">
          <h4 class="faq-title">
            <a class="collapsed" data-bs-toggle="collapse" href="#faqThree" aria-expanded="false">Is shipping free?</a>
          </h4>
          <div id="faqThree" class="card-collapse collapse">
            <p>
              Absolutely! We offer Free & Safe Shipping on all orders, with no hidden charges.
            </p>
          </div>
        </div>
      
        <div class="faq-card bg-white" data-aos="fade-down">
          <h4 class="faq-title">
            <a class="collapsed" data-bs-toggle="collapse" href="#faqSix" aria-expanded="false">How can I track my order?</a>
          </h4>
          <div id="faqSix" class="card-collapse collapse">
            <p>
              Once your order is shipped, you’ll receive a tracking number via email or SMS to monitor your delivery.
            </p>
          </div>
        </div>
        <div class="faq-card bg-white" data-aos="fade-down">
          <h4 class="faq-title">
            <a class="collapsed" data-bs-toggle="collapse" href="#faqSeven" aria-expanded="false">Are Bellaluna products safe for all skin types?</a>
          </h4>
          <div id="faqSeven" class="card-collapse collapse">
            <p>
              Yes! We carefully curate and test products to ensure they are safe, effective, and suitable for all skin types.
            </p>
          </div>
        </div>
        <div class="faq-card bg-white" data-aos="fade-down">
          <h4 class="faq-title">
            <a class="collapsed" data-bs-toggle="collapse" href="#faqeight" aria-expanded="false">How do I contact customer support?</a>
          </h4>
          <div id="faqeight" class="card-collapse collapse">
            <p>
              Our 24/7 online support team is available via live chat, email, and phone to assist with any inquiries.
            </p>
          </div>
        </div>
        <div class="faq-card bg-white" data-aos="fade-down">
          <h4 class="faq-title">
            <a class="collapsed" data-bs-toggle="collapse" href="#faqnine" aria-expanded="false">Can I return or exchange a product?</a>
          </h4>
          <div id="faqnine" class="card-collapse collapse">
            <p>
              Yes! We carefully curate and test products to ensure they are safe, effective, and suitable for all skin types.
            </p>
          </div>
        </div>
        <div class="faq-card bg-white" data-aos="fade-down">
          <h4 class="faq-title">
            <a class="collapsed" data-bs-toggle="collapse" href="#faqten" aria-expanded="false">Are Bellaluna products safe for all skin types?</a>
          </h4>
          <div id="faqten" class="card-collapse collapse">
            <p>
              Yes! We accept returns and exchanges within a specified period, provided the product remains unused and in original packaging.
            </p>
          </div>
        </div>
        <div class="faq-card bg-white" data-aos="fade-down">
          <h4 class="faq-title">
            <a class="collapsed" data-bs-toggle="collapse" href="#faqelevan" aria-expanded="false">Do you offer discounts or loyalty programs?</a>
          </h4>
          <div id="faqelevan" class="card-collapse collapse">
            <p>
              Yes! We frequently offer discounts, special deals, and a loyalty rewards program for our valued customers.
            </p>
          </div>
        </div>
        <div class="faq-card bg-white" data-aos="fade-down">
          <h4 class="faq-title">
            <a class="collapsed" data-bs-toggle="collapse" href="#faqtwelve" aria-expanded="false">How do I leave a review for a product?</a>
          </h4>
          <div id="faqtwelve" class="card-collapse collapse">
            <p>
              Simply visit the product page, rate the item, and share your experience in our customer review section. Let me know if you need any modifications! 😊
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /FAQ -->
</div>
</div>