<div class="login-wrapper why-choose">
  <div class="choose-left">
    <img src="assets/img/bg/choose-left.png" class="img-fluid" alt="Why Choose Us">
  </div>
  <div class="container">
  <div class="row">
    <div class="col-md-6 col-lg-6 col-xl-7 hide-for-mobile">
      <div class="visual-section ">
        <img src="assets/img/bg/forget-password.webp" class="img-fluid " alt="Access Card" />
      </div>
    </div>
    <div class="col-11 col-sm-10 col-md-6 col-lg-5 col-xl-4 form-sec">
      <div class="loginbox">
        <div class="login-auth">
          <div class="login-auth-wrap">
            <h1>Reset Password</h1>
            <p class="account-subtitle">
              Your new password must be different from previous used passwords.
            </p>
            <form [formGroup]="form" (ngSubmit)="resetpassword()">
              <div class="input-block">
                <label for="New" class="form-label">New Password <span class="text-danger">*</span></label>
                <div class="pass-group position-relative">
                  <input type="password" class="form-control pass-input" placeholder=""
                    [type]="show_password1 ? 'password' : 'text'" formControlName="password" [ngClass]="{
                  'is-invalid': f['password'].touched && f['password'].invalid
                }" />
                  @if (f['password'].touched && f['password'].invalid) {
                  <div class="invalid-feedback">
                    @if (
                    f['password'].errors && f['password'].errors['required']
                    ) {
                    <div>
                      Password is required.
                    </div>
                    }
                  </div>
                  }
                  <span tabindex="0" style="cursor: pointer;" [ngClass]="
                  show_password1 === true
                    ? 'fas  fa-eye-slash toggle-password'
                    : 'fas fa-eye toggle-password'
                " (click)="show_password1 = !show_password1" (keyup.enter)="show_password1 = !show_password1"></span>
                </div>
              </div>

              <div class="input-block">
                <label for="confirm" class="form-label">Confirm Password <span class="text-danger">*</span></label>
                <div class="pass-group">
                  <input class="form-control pass-input" placeholder="" [type]="show_password2 ? 'password' : 'text'"
                    formControlName="confirmpassword" [ngClass]="{
                  'is-invalid':
                    f['confirmpassword'].touched && f['confirmpassword'].invalid
                }" />
                  @if (
                  f['confirmpassword'].touched && f['confirmpassword'].invalid
                  ) {
                  <div class="invalid-feedback">
                    @if (
                    f['confirmpassword'].errors &&
                    f['confirmpassword'].errors['required']
                    ) {
                    <div>
                      Confirm Password is required.
                    </div>
                    }
                  </div>
                  }
                  <span tabindex="0" [ngClass]="
                  show_password2 === true
                    ? 'fas  fa-eye-slash toggle-password'
                    : 'fas fa-eye toggle-password'
                " (click)="show_password2 = !show_password2" (keyup.enter)="show_password1 = !show_password1"></span>
                </div>
              </div>
              <button class="btn btn-outline-light w-100 btn-size" type="submit">
                Save Changes
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
  </div>

</div>