<div class="breadcrumb-bar">
    <!-- <div class="container">
        <h2 class="breadcrumb-title">Contact us</h2>
    </div> -->
    <nav aria-label="breadcrumb" class="page-breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="routes.home">Home</a> </li>
                <li class="breadcrumb-item"> <a href="javascript:void(0);">Pages</a></li>
                <li class="breadcrumb-item active" aria-current="page">Contact us</li>
            </ol>
        </div>
    </nav>
</div>
<section class="contact-section">
    <div class="container">
        <div class="section-title text-center">
      <h2>Contact Us</h2>
      <p>We’d be happy to answer your questions and set up a meeting. Bellaluna Software can simplify your beauty business!</p>
    </div>
        <div class="row contect-form">
            <div class="col-md-6 col-lg-6">
                <div class="contact-info-area">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="single-contact-info d-flex">
                                <div class="icon-data"> <span><i class="feather icon-map-pin"></i></span></div>
                                <div>
                                    <h3>Location</h3>
                                    <a href="javascript:void(0);">
                                        <h3> Gurgaon Office:</h3>
                                        <p><a>8th Floor, Building No. 8-C, DLF Cyber Hub, Phase-II,Gurugram, Haryana
                                                122002 India</a> </p>
                                        <h3>Chennai Office: </h3>
                                        <p><a>No 82, 2nd Floor, Srestha, 4th Avenue, Ashok Nagar. Chennai - 600083 Tamil
                                                Nadu, India</a> </p>

                                         <h3>Republic of Korea Office: </h3>
                                        <p><a> Room 303, Daegwang Building, 23 Bongeunsa-ro 108-gil, Gangnam-gu, Seoul</a> </p>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-12 col-lg-12">
                            <div class="single-contact-info d-flex">
                                <div class="icon-data"> <span><i class="feather icon-phone-call"></i></span></div>
                                <div>
                                    <h3>Phone Number</h3>
                                    <p> <a href="tel:+91 98101 40839">+91 XXXXXX 40839</a></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-12 col-lg-12">
                            <div class="single-contact-info d-flex">
                                <div class="icon-data"> <span><i class="feather icon-mail"></i></span> </div>
                                <div>
                                    <h3>Email Address</h3>
                                    <p><a href="mailto:support@bellaluna.in">support&#64;loche.in</a></p>
                                    <p><a href="mailto:support@bellaluna.in">hello&#64;loche.in</a></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <form action="#">
                    <div class="form-sec">
                        <h1>Get in touch!</h1>
                        <div class="col-md-12">
                            <div class="input-block">
                                <label for="name">Name <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="input-block">
                                <label for="email">Email Address <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-12">
                                <div class="input-block">
                                    <label for="phone">Phone number <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                        <div class="col-md-12">
                            <div class="input-block">
                                <label for="comment">Comments <span class="text-danger">*</span></label>
                                <textarea class="form-control" rows="4" cols="50" placeholder="">
                                    </textarea>
                            </div>
                        </div>
                        <button class="btn contact-btn" type="button">Send Enquiry</button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</section>