<div class="row">
    <div class="col-lg-8">
        <div class="track-information-card">
            <div class="track-info-head">
                <h6>Order ID - OD334415606750894100</h6>
            </div>
            <div class="row">
                <div class="col-9 col-sm-10">
                    <div class="track-product-detail">
                        <div class="product-more-info">
                            <h5 class="mb-1">Simple Kind to Skin Refreshing Facewash Mild Face Wash for Sensitive Skin (150ml)</h5>
                            <p><span>White</span></p>
                            <p><span>Seller: OmniTechRetail</span></p>
                            <h5 class="mt-1 mb-2">₹6,439</h5>
                        </div>
                    </div>
                </div>
                <div class="col-3 col-sm-2">
                    <div class="product-imh-sec">
                        <div class="product-img">
                            <img src="assets/img/cars/product-3(1).avif" alt="img" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Verification Notice -->
            <div class="border-top"></div>
            <div class="verification-notice">
                <i class="fas fa-shield-alt"></i>
                Item was opened and verified at the time of delivery.
            </div>
            <div class="status-timeline">
                <div class="status-container">
                    <div class="status-item">
                        <div class="status-icon">
                            <i class="fas fa-check"></i>
                        </div>
                        <div>
                            <span>Order Confirmed</span>, May 15
                        </div>
                    </div>
                    <div class="status-line"></div>
                </div>
                <div class="status-item">
                    <div class="status-icon">
                        <i class="fas fa-check"></i>
                    </div>
                    <div>
                        <span>Delivered</span>, May 16
                    </div>
                </div>
            </div>
            <div class="mt-3">
                <a  class="text-primary all-update" (click)="openModal()" >
                    See All Updates <i class="fas fa-chevron-right me-1"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 ">
         <div class="track-sidebar-sec">
            <div class="track-sidebar-card">
                <div class="track-sidebar-head">
                    <h5>Shipping details</h5>
                </div>
                <div class="track-sidebar-body">
                  <div class="user-detail">
                    <div class="user-name">
                      <h5>Abhishek Pandey</h5>
                    </div>
                    <div class="user-address">
                        <p ><span>Sector 14</span></p>
                        <p ><span>Anand nagar,</span></p>
                        <p><span>Delhi - 110078</span></p>
                        <p>Phone Number: <span>8676877668</span></p>
                    </div>

                  </div>

                </div>
            </div>
        </div>

        <div class="track-sidebar-sec">
            <div class="track-sidebar-card">
                <div class="track-sidebar-head">
                    <h5>Price Details</h5>
                </div>
                <div class="track-sidebar-body">
                    <div class="product-rates-sec">
                        <ul>
                            <li>
                                <h6>List price</h6>   <h5 class="actul-price">₹9,890</h5>
                            </li>
                            <li>
                                <h6>Selling price</h6>  <h5>₹6,999</h5>
                            </li>
                            <li>
                                <h6>Extra Discount</h6>  <h5>- ₹609</h5>
                            </li>
                            <li>
                                <h6>Special Price</h6>  <h5>₹6,390</h5>
                            </li>
                            <li>
                                <h6>Delivery Charge</h6>  <h5 class="text-green">₹40 Free</h5>
                            </li>
                            <li>
                                <h6>Handling Fee</h6> <h5>₹10</h5>
                            </li>
                             <li>
                                <h6>Protect Promise Fee</h6> <h5>₹39</h5>
                            </li>
                            <li class="total-rate">
                                <h6>Total Amount</h6> <h5>₹6,439</h5>
                            </li>
                        </ul>
                            <li class="payment-mode">Cash On Delivery: ₹6439.0</li>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>