<!-- Header -->
<!-- <header class="log-header">
  <a [routerLink]="routes.home" >
    <img class="img-fluid logo-dark" src="assets/img/bellaluna-logo.png" width="65px" alt="Logo"/>
</a>
</header> -->
<!-- /Header -->
 <!-- <div class="row">
  <div class="col-md-6 image-setup">
    <div class="image-setup">
      <img src="assets/img/login-banner-1.webp" alt="About us" class="img-fluid">
    </div>
  </div>
  <div class="col-md-6">
    <router-outlet></router-outlet>
  </div>
  
 </div> -->
 <router-outlet></router-outlet>
