<section class="section car-listing">
    <div class="container-fluid p-0">
        <div class="row gx-0">

            <div class="col-xl-7 col-lg-5">
                <div class="map-list">
                    <div class="order-list">
                        <div class="card">
                            <div class="blog-widget d-flex">
                                <div class="blog-img">
                                    <a>
                                        <img src="assets/img/bg/map1.png" class="img-fluid" alt="Store img">

                                    </a>
                                    <div class="fav-item justify-content-end">

                                    </div>
                                </div>
                                <div class="bloglist-content w-100">
                                    <div class="card-body">
                                        <div class="blog-list-head d-flex">
                                            <div class="blog-list-title">
                                                <h3><a>BK Friends Delhi</a>
                                                </h3>
                                            </div>
                                            <div class="opentime">
                                                <h6>Open : 11:00 AM - 11:55 PM</h6>
                                            </div>

                                        </div>
                                        <div class="listing-details-group">
                                            <p>Convenience store
                                                Ground Floor, Left Side, B-106/1, Humayunpur, Safdarjung Enclave, New Delhi, Delhi 110029
                                            </p>
                                        </div>
                                        <div class="blog-list-head list-head-bottom d-flex">

                                            <div class="listing-button d-flex justify-content-between">
                                            <div class="blog-list-rate">
                                                <div class="list-rating">
                                                    <i class="fas fa-star filled me-1"></i>
                                                    <i class="fas fa-star filled me-1"></i>
                                                    <i class="fas fa-star filled me-1"></i>
                                                    <i class="fas fa-star filled me-1"></i>
                                                    <i class="fas fa-star"></i>
                                                    <span> 20 Reviews</span>
                                                </div>
                                                <!-- <h6>$160<span>/ Day</span></h6> -->
                                            </div>
                                                <a class="btn btn-order" href="https://www.google.com/maps/place/K+Friends+Delhi/@28.5609092,77.1931082,790m/data=!3m2!1e3!4b1!4m6!3m5!1s0x390d1dd851db4af9:0x1e8ce4866c28fa36!8m2!3d28.5609092!4d77.1931082!16s%2Fg%2F11mcys1cqs?authuser=0&hl=en&entry=ttu&g_ep=EgoyMDI1MTAwNy4wIKXMDSoASAFQAw%3D%3D">
                                                  GET  DIRECTIONS <span>
                                                       <i class="fa-solid fa-chevron-right"></i>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="feature-text">
                                    <span class="bg-danger">Featured</span>
                                </div> -->
                            </div>
                        </div>

                         <div class="card">
                            <div class="blog-widget d-flex">
                                <div class="blog-img">
                                    <a>
                                        <img src="assets/img/bg/map2.png" class="img-fluid" alt="Store img">
                                    </a>
                                    <div class="fav-item justify-content-end">

                                    </div>
                                </div>
                                <div class="bloglist-content w-100">
                                    <div class="card-body">
                                        <div class="blog-list-head d-flex">
                                            <div class="blog-list-title">
                                                <h3><a>K FRIENDS l Global Foyer Mall Gurugram</a>
                                                </h3>
                                            </div>
                                            <div class="opentime">
                                                <h6>Open : 10:00 AM - 01:30 PM</h6>
                                            </div>

                                        </div>
                                        <div class="listing-details-group">
                                            <p>Korean grocery store
                                               Unit No. 23, Ground Floor, Global Foyer Mall, Golf Course Rd, Sector 43, Gurugram, Haryana 122009
                                            </p>
                                        </div>
                                        <div class="blog-list-head list-head-bottom d-flex">

                                            <div class="listing-button">
                                            <div class="blog-list-rate">
                                                <div class="list-rating">
                                                    <i class="fas fa-star filled me-1"></i>
                                                    <i class="fas fa-star filled me-1"></i>
                                                    <i class="fas fa-star filled me-1"></i>
                                                    <i class="fas fa-star filled me-1"></i>
                                                    <i class="fas fa-star"></i>
                                                    <span>26 Reviews</span>
                                                </div>
                                                <!-- <h6>$160<span>/ Day</span></h6> -->
                                            </div>
                                                <a class="btn btn-order" href="https://www.google.com/maps/place/K+FRIENDS+l+Global+Foyer+Mall+Gurugram/@28.4605477,76.4853755,56384m/data=!3m2!1e3!5s0x390d18ad0577309b:0x149e3c6e75f9945!4m10!1m2!2m1!1sk-friends+!3m6!1s0x390d1954327bca4f:0x7615105b18a1f7f3!8m2!3d28.4605477!4d77.0951167!15sCgprLWZyaWVuZHMgWgsiCWsgZnJpZW5kc5IBFGtvcmVhbl9ncm9jZXJ5X3N0b3JlqgFPCg0vZy8xMW1jeXMxY3FzCg0vZy8xMXBmYmcyd3YzEAEyHhABIhq5nNiqfkybjSMygxardi6aXazdZPUMRu9NAzINEAIiCWsgZnJpZW5kc-ABAA!16s%2Fg%2F11q8wvs7yr?entry=ttu&g_ep=EgoyMDI1MTAwNy4wIKXMDSoASAFQAw%3D%3D">
                                                    GET  DIRECTIONS <span>
                                                       <i class="fa-solid fa-chevron-right"></i>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="feature-text">
                                    <span class="bg-danger">Featured</span>
                                </div> -->
                            </div>
                        </div>
                              <div class="card">
                            <div class="blog-widget d-flex">
                                <div class="blog-img">
                                    <a>
                                        <img src="assets/img/bg/map3.png" class="img-fluid" alt="Store img">

                                    </a>
                                    <div class="fav-item justify-content-end">

                                    </div>
                                </div>
                                <div class="bloglist-content w-100">
                                    <div class="card-body">
                                        <div class="blog-list-head d-flex">
                                            <div class="blog-list-title">
                                                <h3><a>K Friends G Noida</a>
                                                </h3>
                                            </div>
                                            <div class="opentime">
                                                <h6>Open : 10:00 AM - 01:30 AM</h6>
                                            </div>

                                        </div>
                                        <div class="listing-details-group">
                                            <p>Convenience store
                                              omaxe india trade centre, SHOP No.: D-23 & D-24, GROUND FLOOR, OMAXE TRADE CENTRE PVT. LTD, D-25, Sector Alpha II, Greater Noida, Uttar Pradesh 201308
                                            </p>
                                        </div>
                                        <div class="blog-list-head list-head-bottom d-flex">

                                            <div class="listing-button">
                                            <div class="blog-list-rate">
                                                <div class="list-rating">
                                                    <i class="fas fa-star filled me-1"></i>
                                                    <i class="fas fa-star filled me-1"></i>
                                                    <i class="fas fa-star filled me-1"></i>
                                                    <i class="fas fa-star filled me-1"></i>
                                                    <i class="fas fa-star"></i>
                                                    <span>74 Reviews</span>
                                                </div>
                                                <!-- <h6>$160<span>/ Day</span></h6> -->
                                            </div>                                                
                                                <a class="btn btn-order" href="https://www.google.com/maps/place/K+Friends+G+Noida/@28.4762327,76.9111268,101208m/data=!3m1!1e3!4m10!1m2!2m1!1sk-friends+!3m6!1s0x390cebdef11573e9:0x790527195bacc03d!8m2!3d28.4762327!4d77.520868!15sCglrLWZyaWVuZHNaCyIJayBmcmllbmRzkgERY29udmVuaWVuY2Vfc3RvcmWqAU8KDS9nLzExbWN5czFjcXMKDS9nLzExcGZiZzJ3djMQATIeEAEiGrmc2Kp-TJuNIzKDFqt2LppdrN1k9QxG700DMg0QAiIJayBmcmllbmRz4AEA!16s%2Fg%2F11pfbg2wv3?entry=ttu&g_ep=EgoyMDI1MTAwNy4wIKXMDSoASAFQAw%3D%3D">
                                                    GET  DIRECTIONS <span>
                                                       <i class="fa-solid fa-chevron-right"></i>
                                                    </span>
                                                    
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="feature-text">
                                    <span class="bg-danger">Featured</span>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <!--Pagination-->
                    <!-- <div class="blog-pagination">
                        <nav>
                            <ul class="pagination page-item justify-content-center">
                                <li class="previtem">
                                    <a class="page-link" href="javascript:void(0);"><i class="fas fa-regular fa-arrow-left me-2"></i>
                                        Prev</a>
                                </li>
                                <li class="justify-content-center pagination-center">
                                    <div class="page-group">
                                        <ul>
                                            <li class="page-item">
                                                <a class="page-link" href="javascript:void(0);">1</a>
                                            </li>
                                            <li class="page-item">
                                                <a class="active page-link" href="javascript:void(0);">2 <span
                                                        class="visually-hidden">(current)</span></a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="javascript:void(0);">3</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="nextlink">
                                    <a class="page-link" href="javascript:void(0);">Next <i
                                            class="fas fa-regular fa-arrow-right ms-2"></i></a>
                                </li>
                            </ul>
                        </nav>
                    </div> -->
                    <!--/Pagination-->

                </div>

            </div>

            <!-- <div class="col-xl-5 col-lg-7 map-right grid-list-map">
                <div id="map" class="map-listing"></div>
            </div> -->

            <div class="col-xl-5 col-lg-7 map-right grid-list-map">
                <!-- Map -->
                <div class="map-listing">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.956791090061!2d72.82833151490088!3d19.14121268704801!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c83c05b7fc89%3A0x324fb542f69a0e2e!2sInfiniti%20Mall%20-%20Andheri!5e0!3m2!1sen!2sin!4v1696672341000!5m2!1sen!2sin"
                        width="100%" height="600" style="border:0; border-radius:12px;" allowfullscreen=""
                        loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>
                <!-- /Map-->
            </div>


        </div>
    </div>
</section>
<!-- /Car Grid View -->