<section class="vision2030-section text-center text-white position-relative">
    <!-- Background Image -->
    <img src="assets/img/banners/vision2030.png" alt="Vision 2030 Background" class="vision-bg" />

    <!-- Overlay -->
    <div class="vision-overlay"></div>

    <!-- Content -->
    <div class="container vision-container position-relative">
        <div class="vision-header mb-5">
            <h2 class="vision-title">🌟 {{'GREETING.VISION' | translate}}</h2>
            <h4 class="vision-subtitle">{{'GREETING.VISION_STATEMENT' | translate}}</h4>
            <p class="vision-intro mt-3">
                {{'GREETING.VISION_INTRO' | translate}}
            </p>
        </div>

        <div class="row justify-content-center gy-4">
            <!-- Card 1 -->
            <div class="col-lg-5 col-md-6">
                <div class="vision-card h-100">
                    <div class="icon-circle mb-3">
                        <i class="fa-solid fa-globe-asia"></i>
                    </div>
                    <h5>{{'GREETING.BECOME_POINT_1' | translate}}</h5>
                    <p>
                        {{'GREETING.BECOME_POINT_1_DESC' | translate}}
                    </p>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="col-lg-5 col-md-6">
                <div class="vision-card h-100">
                    <div class="icon-circle mb-3">
                        <i class="fa-solid fa-chart-line"></i>
                    </div>
                    <h5>{{'GREETING.BECOME_POINT_2' | translate}}</h5>
                    <p>
                        {{'GREETING.BECOME_POINT_2_DESC' | translate}}
                    </p>
                </div>
            </div>

            <!-- Card 3 -->
            <div class="col-lg-5 col-md-6">
                <div class="vision-card h-100">
                    <div class="icon-circle mb-3">
                        <i class="fa-solid fa-flask"></i>
                    </div>
                    <h5>{{'GREETING.BECOME_POINT_3' | translate}}</h5>
                    <p>
                        {{'GREETING.BECOME_POINT_3_DESC' | translate}}
                    </p>
                </div>
            </div>

            <!-- Card 4 -->
            <div class="col-lg-5 col-md-6">
                <div class="vision-card h-100">
                    <div class="icon-circle mb-3">
                        <i class="fa-solid fa-briefcase-medical"></i>
                    </div>
                    <h5>{{'GREETING.BECOME_POINT_4' | translate}}</h5>
                    <p>
                        {{'GREETING.BECOME_POINT_4_DESC' | translate}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>