<!-- Modal -->
<div class="modal fade show custom-modal" style="display: block;" tabindex="-1">
    <div class="modal-dialog modal-dialog-slide modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <span class="card-hicon" (click)="close()"><i class="fa-solid fa-arrow-left"></i></span>
                <h6 class="modal-title">Parcel Tracking</h6>
            </div>
            <div class="modal-body">
                <div class="timeline">

                    <div class="timeline-step completed" style="--i:1">
                        <div class="timeline-title">Order Confirmed <span>Thu, 15th May '25</span> </div>
                        <div class="tac-info">Your order has been placed and processed.</div>
                        <div class="timeline-time">Thu, 15th May '25 - 2:51pm</div>
                    </div>

                    <div class="timeline-step completed" style="--i:2">
                        <div class="timeline-title">Shipped <span>Fri, 16th May '25</span></div>
                        <div class="delp">Ekart Logistics - FMPC4816364779</div>
                        <div class="tac-info">Your item has been shipped.</div>
                        <div class="timeline-time">Fri, 16th May '25 - 12:08am</div>
                        <div class="tac-info"> Your item has been shipped and received at the nearest hub.</div>
                    </div>

                    <div class="timeline-step completed" style="--i:3">
                        <div class="timeline-title">Out For Delivery <span>Fri, 16th May '25</span></div>
                        <div class="tac-info">Your item is out for delivery.</div>
                        <div class="timeline-time">Fri, 16th May '25 - 8:42am</div>
                    </div>

                    <div class="timeline-step completed" style="--i:4">
                        <div class="timeline-title">Delivered <span>Fri, 16th May '25</span></div>
                        <div class="tac-info">Your item has been delivered.</div>
                        <div class="timeline-time">Fri, 16th May '25 - 6:48pm</div>
                    </div>

                    <div class="timeline-step refunded" style="--i:6">
                        <div class="timeline-title">Refund<span>Sat, 17th May '25</span></div>
                    </div>

                    <div class="timeline-step refunded" style="--i:6">
                        <div class="timeline-title">Refunded <span>Sat, 17th May '25</span></div>
                        <div class="tac-info">Your payment has been refunded.</div>
                        <div class="timeline-time">Sat, 17th May '25 - 10:03am</div>
                    </div>
                    
                    <div class="timeline-step cancelled" style="--i:5">
                        <div class="timeline-title">Cancelled <span>Fri, 16th May '25</span></div>
                        <div class="tac-info">Your order was cancelled.</div>
                        <div class="timeline-time">Fri, 16th May '25 - 7:12pm</div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>